*.pyc
*.pth
*.out
*.code-workspace
*.tfevents.*
*.obj
*.pkl
*.json
*.tar
*.txt
*.npz
*.npy
.DS_Store

.vscode/
_old/
_logs/
_debug/

/*/dataset/*
/*/results/*

/pytorch3d/*
/PyGeM/*
/templete_pytorch3d/dataset/*
/templete_pytorch3d/results/*
/multi-garment-network_py36/datasets/*
