*.pyc
*.pth
*.out
*.code-workspace
*.tfevents.*
*.obj
*.pkl
.DS_Store

.vscode/
_old/
_logs/
_debug/

/*/dataset/*
/*/results/*

/pytorch3d/*
/templete_pytorch3d/dataset/*
/templete_pytorch3d/results/*